html {
	/*overflow-y: scroll;*/
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	letter-spacing: normal;
	line-height: 21px;
	color: white;
	background-color: black;
}

#site{
	width: 100%;
	min-width: 555px;
	margin: 0 auto;
}

/*HEADER////////////////////////////////////////////////////////////////*/

header{
	border-bottom: 1px solid white;
	padding: 55px 15px 15px 15px;
	margin-bottom: 15px;
}

header h1{
	font-size: 2em;
	text-align: left;
}

#fixed_box{
	position: fixed;
	bottom: 55px;
	left: 55px;
	padding: 15px;
}

.box_input {
	display: block;
	margin-bottom: 15px;
}

#new_tome_form {
	overflow: auto;
	padding-bottom: 15px;
}

#add_area{
	display: block;
	resize: none;
	width: 155px;
	height: 55px;
	margin-bottom: 15px;
}

#add_button{
	float: left;
}

#text_count{
	float: right;
	padding-right: 15px;
	font-size: 0.8em;
	color: white;
}

#logout_button{
	text-align: center;
}

/*CONTENT////////////////////////////////////////////////////////////////*/

#content{
	width: 100%;
	margin-bottom: 15px;
}

.tome{
	margin-bottom: 15px;
}

.tome:hover a{
	color: black;
}

.tome a{
	font-size: 15px;
	text-decoration: none;
	color: white;
}

.metadatas{
	overflow: auto;
	padding-bottom: 15px;
}

.tome h1{
	color: red;
	font-style: italic;
	font-weight: bold;
	float: left;
}

#delete_tome_form{
	float:right;
}

#delete_tome_form:hover{
	color: red;
	cursor: pointer;
}

.nostyle_input{
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
}

.tome p1{
	float: left;
}

.tome p2{
	clear: both;
	word-wrap: break-word;
}

#later{
	clear: both;
	height: auto;
	margin-bottom: 15px;
	text-align: center;
}

#earlier{
	clear: both;
	height: auto;
	margin-bottom: 15px;
	text-align: center;
}

/*FOOTER////////////////////////////////////////////////////////////////*/

footer{
	border-top: 1px solid white;
	margin-bottom: 255px;
	padding: 15px;
}

footer p{
	padding-bottom: 15px;
}

footer p2{
	font-family: times;
}

/*ELEMENTS////////////////////////////////////////////////////////////////*/

a {
	color: #fff;
	text-decoration: none;
}

a:focus{
	outline:0;
}

/*
a:hover {
	color: #fff;
}
*/

/*CLASSES////////////////////////////////////////////////////////////////*/

.zone{
	background-color: black;
	color: white;
}

.zone:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.black_box {
	background-color: black;
	border: 1px solid white;
}

.pad_box{
	padding: 15px 55px;
}

.clear{
	clear: both;
}

.shadow{
	text-shadow: 3px 3px 3px #a5a5a5;
}

.overlimit{
   color: red;         
}​






