html {
	/*overflow-y: scroll;*/
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	letter-spacing: normal;
	line-height: normal;
	color: white;
	background-color: black;
}

#site{
	width: 555px;
	height: auto;
	margin: 0 auto;
}

/*HEADER////////////////////////////////////////////////////////////////*/

header{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}

header h1{
	padding: 15px 0 0 15px;
	font-size: 2em;
	text-align: left;
}

#add_box{
	position: fixed;
	bottom: 55px;
	left: 55px;
}

#add_area{
	display: block;
	resize: none;
	width: 255px;
	height: 55px;
	margin-bottom: 15px;
}

#add_button{
	float: left;
}

#text_count{
	float: right;
	padding-right: 15px;
	font-size: 0.8em;
	color: white;
}

/*CONTENT////////////////////////////////////////////////////////////////*/

#content{
	width: 100%;
}

#bandits{
	width: 100%;
	height: auto;
	float: left;
}

.bandit{
	height: auto;
	margin-bottom: 15px;
}

.bandit a{
	font-size: 15px;
	text-decoration: none;
	color: black;
}

.bandit h1{
	color: red;
	font-style: italic;
	font-weight: bold;
	float: left;
}

.bandit:hover{
	color: white;
}

#later{
	clear: both;
	height: auto;
	margin-bottom: 15px;
	text-align: center;
}

#earlier{
	clear: both;
	height: auto;
	margin-bottom: 15px;
	text-align: center;
}

/*FOOTER////////////////////////////////////////////////////////////////*/

footer{
	float: left;
	width: 100%;
	height: auto;
	border-top: 1px solid white;
}

footer p{
	padding: 15px 0 15px 15px;
}

/*LINKS////////////////////////////////////////////////////////////////*/

a {
	color: #fff;
	text-decoration: none;
}

a:focus{
	outline:0;
}

/*
a:hover {
	color: #fff;
}
*/

/*CLASSES////////////////////////////////////////////////////////////////*/

.zone{
	background-color: black;
	color: white;
}

.zone:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.black_box {
	background-color: black;
	border: 1px solid white;
}

.pad_box{
	padding: 15px;
}

.clear{
	clear: both;
}

.shadow{
	text-shadow: 3px 3px 3px #a5a5a5;
}

.overlimit{
   color: red;         
}​








